{
  "parser": "babel-eslint",
  "extends": ["standard"],
  "globals": {
    "__DEV__": true
  },
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "no-debugger": "warn",
    "no-console": ["error", {"allow": ["error", "warn"]}],
    "import/first": "error",
    "import/no-duplicates": "error",
    "import/extensions": ["error", {"jpg": "always"}, {"json": "always"}],
    "import/newline-after-import": "error",
    "import/no-unassigned-import": "error",
    "newline-per-chained-call": "error",
    "arrow-body-style": ["error", "as-needed"],
    "comma-dangle": ["error", "always-multiline"],
    "object-curly-spacing": [
      "error",
      "always"
    ],

    "flowtype/delimiter-dangle": ["error", "always-multiline"]
  }
}
