{
    "parser": "babel-eslint",
    "extends": ["standard", "standard-react"],
    "globals": {
      "__DEV__": true
    },
    "plugins": [
      "filenames",
      "flowtype",
      "import",
      "react",
    ],
    "rules": {
      "no-debugger": "warn",
      "no-console": ["error", {"allow": ["error", "warn"]}],
      "import/first": "error",
      "import/no-duplicates": "error",
      "import/extensions": ["error", {"jpg": "always"}],
      "import/newline-after-import": "error",
      "import/no-unassigned-import": "error",
      "newline-per-chained-call": "error",
      "arrow-body-style": ["error", "as-needed"],
      "comma-dangle": ["error", "always-multiline"],
      "object-curly-spacing": [
        "error",
        "always"
      ],

      "flowtype/delimiter-dangle": ["error", "always-multiline"],

      "react/jsx-first-prop-new-line": "error",
      "react/jsx-max-props-per-line": "error",
      "react/jsx-wrap-multilines": ["error", {
        "declaration": "parens-new-line",
        "assignment": "parens-new-line",
        "return": "parens-new-line",
        "arrow": "parens-new-line",
        "condition": "parens-new-line",
        "logical": "parens-new-line",
        "prop": "parens-new-line"
      }],
      "react/jsx-closing-bracket-location": "error"
    }
  }
