<h2>Show Scraper</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @scraper.name %>
  </li>

  <li>
    <strong>Last content:</strong>
    <%= @scraper.last_content_id %>
  </li>

  <li>
    <strong>Last page:</strong>
    <%= @scraper.last_page_id %>
  </li>

</ul>

<span><%= link "Edit", to: scraper_path(@conn, :edit, @scraper) %></span>
<span><%= link "Back", to: scraper_path(@conn, :index) %></span>
